/* Image */
.setupPP img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .setupPP img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
}
/* end of Image */

.setup {
  display: flex;
}

.setupWrapper {
  padding: 20px;
}

.setupTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
